nav {
  background-color: #fff;
  width: 100%;
  max-width: 3840px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 3%;
  align-items: center;
  width: 100%;

  @media (max-width: 992px) {
    padding: 10px 2%;
  }

  .brand-logo {
    img {
      height: 40px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 0;
    padding: 0;

    li {
      .nav-text {
        color: var(--prise-text-gray);
      }

      a {
        text-decoration: none;

        &:hover {
          color: var(--prise-main-color);
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .btn {
      background-color: var(--prise-main-color);
      padding: 10px 20px;
      border-radius: 8px;
      color: var(--prise-secondary-color);
      &:hover {
        background-color: transparent;
        border: 1px solid var(--prise-main-color);
      }
    }
  }

  @media (max-width: 767px) {
    .nav-text {
      display: none;
    }
  }
}
