.accordion-item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(154, 163, 182, 0.4);
  border-radius: 5px;
  font-family: 'Inter', sans-serif;

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;

    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    .fa {
      transition: transform 0.2s ease-out;
      font-weight: 300;
      font-size: 18px;
    }
  }

  .accordion-content {
    padding: 10px;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    p {
      margin: 0;
      font-weight: 300;
      font-size: 18px;
    }
  }

  &.open {
    .accordion-content {
      display: block;
      max-height: 500px;
    }

    .accordion-header {
      .fa {
        transform: rotate(45deg);
      }
    }
  }
}
