.accordion-item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(154, 163, 182, 0.4);
  border-radius: 5px;
  font-family: 'Inter', sans-serif;

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;

    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    .fas {
      font-weight: 300;
      font-size: 18px;
      transition: transform 0.6s ease-out;
    }
  }

  .accordion-content {
    padding: 10px;
    overflow: hidden;
    // max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out,
    opacity 0.3s ease-out;

    p {
      margin: 0;
      font-weight: 300;
      font-size: 18px;
    }
  }


}
