.carousel-top-container {
  position: relative;
  @media(max-width: 767px) {
    padding: 0 5%;
  }


  .dots-container {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      bottom: -30px;
    }

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      border: 1.5px solid var(--prise-text-gray);
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background-color: var(--prise-text-gray);
      }
    }
  }

  .carousel-container {
    // position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;

    .carousel {
      display: flex;

      .carousel-item {
        display: none;
        flex-shrink: 0;
        width: 100%;

        img {
          width: 100%;
          border-radius: 8px;
        }
      }

      .active {
        display: block;
      }
    }

  }
}
